<!DOCTYPE html>

{#<?php#}
{#include './includes/includes.php';#}
{##}
{#if (!isLoggedIn()) {#}
{#    header('Location: login.php');#}
{##}
{##}
{#if (isset($_POST['product_id']) && isset($_POST['size']) && isset($_POST['quantity'])) {#}
{#    if (!is_numeric($_POST['quantity'])) {#}
{#        $quantity = 1;#}
{#    } else {#}
{#        $quantity = abs(intval($_POST['quantity']));#}
{#    }#}
{#    $conn = connectDB();#}
{#    $sql = "INSERT INTO `order_item` (`product_id`, `user_id`, `size`, `created_at`, `quantity`)" .#}
{#        "VALUES ('" . $_POST['product_id'] . "', '" . getUserId() . "', '" . $_POST['size'] . "', NOW(), '" . $quantity . "')";#}
{#    $result = $conn->query($sql);#}
{#    $conn->close();#}
{##}

{##}
{#if (isset($_GET['delete'])) {#}
{#    $conn = connectDB();#}
{#    $sql = "DELETE FROM order_item WHERE order_item_id=" . $_GET['delete'];#}
{#    $result = $conn->query($sql);#}
{#    $conn->close();#}
{##}
{##}
{#$conn = connectDB();#}
{#$sql = "SELECT * FROM order_item INNER JOIN product ON order_item.product_id=product.product_id where user_id=" . getUserId();#}
{#$result = $conn->query($sql);#}
{#$items = array();#}
{#if ($result->num_rows > 0) {#}
{#    while ($row = $result->fetch_assoc()) {#}
{#        $items[] = $row;#}
{#    }#}
{##}
{#$conn->close();#}
{##}
{#$grandTotal = 0;#}
{##}
{##}
{#?>#}
<html lang="en">
<head>
    {% include 'product/components/header.html' %}
</head>
<body>
    {% include 'product/components/navbar.html' %}
<div class="container content-container">
   <div class="page-header">
        <h1>Cart</h1>
    </div>
 <div >


        <h1>
            My Shopping Cart
        </h1>
    </div>

    <div >
        <div class="col-md-9">
            {% if not items %}
            <a>No items added to cart yet</a>
            {% else %}
                <table class="table ">
                    <thead>
                    <tr >
                        <td width="15%"></td>
                        <td width="30%">Product</td>
                        <td>Size</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Item Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ item.product.img.url }}"></td>
                            <td><h4>{{ item.product.name }}</h4></td>
                            <td>{{ item.size }}</td>
                            <td>${{ item.product.price }}</td>
                            <td>{{ item.count }}</td>
                            </tr>
{#                    <?php#}
{#                    foreach ($items as $item) {#}
{#                        echo "<tr>";#}
{#                        echo "<td>";#}
{#                        echo "<img src=>";#}
{#                        echo "</td>";#}
{#                        echo "<td>";#}
{#                        echo "<h4>" . $item['product_name'] . "</h4>";#}
{#                        echo "</td>";#}
{#                        echo "<td>" . $item['size'] . "</td>";#}
{#                        echo "<td>$ " . $item['price'] . "</td>";#}
{#                        echo "<td>" . $item['quantity'] . "</td>";#}
{#                        echo "<td>$ " . number_format($item['price'] * $item['quantity'], 2) . "</td>";#}
{#                        echo "<td><a href='./cart.php?delete=" . $item['order_item_id'] . "'>delete</a></td>";#}
{#                        echo "</tr>";#}
{##}
{#                        $grandTotal += $item['price'] * $item['quantity'];#}
{#                    }#}
{#                    ?>#}
                        {% endfor %}
                    </tbody>
                </table>


			 <div >



    <p></p>
    <h2></h2>

    </div>
        </div>
{#        <div>#}
{#                   <h2 >Cart Summary</h2>#}
{#                   <h4>Grand Total: $ <?php echo number_format($grandTotal, 2); ?></h4>#}
{#                   <a href="./successful.php">Check Out</a>#}
{#        </div>#}
    </div>
    {% endif %}

</div>

{% include 'product/components/footer.html' %}
</body>
</html>